flask==2.3.2
flask-login==0.6.2
flask-sqlalchemy==3.0.3
flask-bootstrap==3.3.7.1
flask-wtf==1.1.1
dnspython==2.3.0
mysql-connector-python==8.0.33
gunicorn==20.1.0
pycryptodome==3.18.0
dnspython>=2.3.0


~/codes/dns-server$ git fetch origin
~/codes/dns-server$ git reset --hard origin/main
~/codes/dns-server$ git add -A .
~/codes/dns-server$ git commit -m "Complete DNS server implementation with root servers"
~/codes/dns-server$ git push -f origin main
https://github.com/shibukgplr/dns_manager.git
~/codes/dns-server$
